.padding.bck.darkest.center
  %h1 pale blue dot

#coverimage

.padding.bck.lightest.center
  .row.text.center.margin-top
    .column_8.offset_2
      %p "It has been said that astronomy is a humbling and character-building experience. There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known."
      %p{class: "right"} -- Carl Sagan

.padding.bck.lightest.text.center
  .margin-bottom
    %h2{class: "color theme"} Learn about the solar system.
    .row.text.center.margin-top
      .column_8.offset_2.left
        %p Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune (and for those of us born before the year 2006, Pluto): the eight planets that captured our imaginations as children. The solar system was formed 4.6 billion years ago from the gravitational collapse of a giant molecular cloud.
        %p Blah blah blah blah.

    .row.text.center.margin-top.margin-bottom
      .column_2.offset_4.center
        %a{href: '/solarsystem'}
          %img{src: '/images/telescope.png', class: 'img-small'}
        .margin-top
          %h3
            %a{href: '/solarsystem'} Solar System
          %p Explore the solar system in 3D.
      .column_2.center
        %a{href: '/earth'}
          %img{src: '/images/earth.png', class: 'img-small'}
        .margin-top
          %h3
            %a{href: '/earth'} Earth
          %p Our home, viewed from outer space.
.padding.bck.lightest.text.center
  .margin-bottom
    %h2{class: "color theme"} Explore our world.
    .row.text.center.margin-top
      .column_8.offset_2.left
        %p Now that you've seen the world from outer space, explore it in more detail. The quizzes below will test your knowledge of world geography. Not so sure you can name all the countries? Take the world tour and get to know them one by one.
    .row.text.center.margin-top.margin-bottom
      .column_2.offset_3.center
        %a{href: '/world_quiz'}
          %img{src: '/images/worldquiz.png', class: 'img-small'}
        .margin-top
          %h3
            %a{href: '/world_quiz'} World Quiz
          %p Test your knowledge of world geography.
      .column_2
        %a{href: '/usa'}
          %img{src: '/images/usa.png', class: 'img-small'}
        .margin-top
          %h3
            %a{href: '/usa'} USA Quiz
          %p Can you place all 50 states?
      .column_2
        %a{href: '/world_tour'}
          %img{src: '/images/tour.png', class: 'img-small'}
        .margin-top
          %h3
            %a{href: '/world_tour'} World Tour
          %p Get in some practice with a world tour.

.padding.bck.darkest.center
  .margin-bottom
    %h1 About
    %p Nikki was born somewhere in the tropics. She loves astronomy, cosmology, and Battlestar Galactica.
    %p pale blue dot was inspired by Carl Sagan, one of her personal heroes.
  .margin-bottom
    %a{href: "http://www.nikkithean.com"}
      %img{src: "/images/nikki.jpg", class: "responsive rounded med"}
  .margin-bottom
    %a{href: "mailto:nikki.thean@gmail.com"} Contact
  .padding.tiny.center
    %p Icons by Blake Thompson, Simon Child, Bohdan Burmich, Sergi Delgado, and Renan Ferreira Santos for <a href="http://thenounproject.com" target="blank">The Noun Project</a>.