.padding.bck.theme.center
  %h1 Cartographer

.padding.bck.lightest.text.center
  .margin-bottom
    %h2{class: "color theme"} Improve your geography.
  .margin-bottom
    %p{class: "color default"} Cartographer is a collection of interactive quizzes that tests your geographical knowledge.

.padding.bck.dark.center
  .margin-bottom
    %h1 Author
  .margin-bottom
    %p Contact me!