.switch#infinite
  %p Infinite perspective

.switch#orthographic
  %p Orthographic perspective

.switch#earth
  %p Earth perspective

= javascript_include_tag '3d/three.js'
= javascript_include_tag '3d/orbitcontrols.js'
= javascript_include_tag 'solarsystem.js'