.switch
  #infinite
    %p Infinite perspective
  #orthographic
    %p Orthographic perspective
  #earth
    %p Earth perspective

= javascript_include_tag '3d/three.js'
= javascript_include_tag '3d/orbitcontrols.js'
= javascript_include_tag 'solarsystem.js'