.switch
  #infinite
    %p Infinite perspective
  #orthographic
    %p Orthographic perspective
  #earth
    %p Earth perspective

%script{id: "vertexShader", type: "x-shader/x-vertex"} varying vec3 vNormal; void main() { vNormal = normalize(normalMatrix * normal); gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);}
%script{id: "fragmentShader", type: "x-shader/x-vertex"} varying vec3 vNormal; void main() { float intensity = pow(0.7 - dot(vNormal, vec3(0.0, 0.0, 1.0)), 4.0); gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0) * intensity; }

= javascript_include_tag '3d/three.js'
= javascript_include_tag '3d/orbitcontrols.js'
= javascript_include_tag 'solarsystem.js'