.skyblue
  .row.quiz-container
    #map
      #pane.column_4
        .card.center.blue
          .front
            .input-container.overlay
              .title
                %h1 Where in the USA are we?
              = render 'answers/form'
              = link_to 'OK', "#", onclick: "$('.new_answer').submit()", class: "button", id: "submit"
              .button#next
                %p Skip

            .info-container
              #notification
              %a{href: "#", class: "flip"} See what other people thought.
          .back
            #unitdata
            %a{href: "#", class: "flip"}
              %span{class: "icon left-sign"}

:javascript
  var options = {
    file: "usa.json",
    globe: false,
    projection: d3.geo.albersUsa()
                     .scale(1000)
                     .translate([$("#map").width() / 3, $("#map").height() / 2]),
    drag: false,
    transition: function() {
      changeButton("Skip");
      svg.selectAll(".unit").classed("active", function(d, i) {
        return d.properties.name === unit.properties.name;
      });
    }
  }

= javascript_include_tag "map.js"