.blue
  .row.quiz-container
    #map.column_8

    #pane.column_4
      .card.center
        .front
          .input-container
            .title
              %h1 Which state is this?
            = render 'answers/form'
            = link_to 'OK', "#", onclick: "$('.new_answer').submit()", class: "button", id: "submit"
            .button#next
              %p Skip

          .info-container
            #notification
            %a{href: "#", class: "flip"} See what other people thought.
        .back
          #countrydata
          %a{href: "#", class: "flip"}
            %span{class: "icon left-sign"}

= javascript_include_tag "usa.js"