.row.quiz-container
  #map.col-md-7.nogutter

  .col-md-5.center
    #pane
      .front
        .input-container
          .title
            %h1 Where in the world are we?
          = render 'answers/form'
          .button#skip
            %p Skip

        .info-container
          
      
        / #next
        /   .button
        /     %p Next

= javascript_include_tag :quiz