.stars
  .quiz-container
    #map
      #pane.column_5.offset_8
        .card.center
          .front
            .input-container
              .title
                %h1 Where in the world are we?
                %p
                  %span{class: "small"} Click map to zoom.
              = render 'answers/form'
              = link_to 'OK', "#", onclick: "$('.new_answer').submit()", class: "button ok", id: "submit"
              .button#next
                %p Skip

            .info-container
              #notification
              %a{href: "#", class: "flip"} Click to see what other people thought.
          .back
            #unitdata
            %a{href: "#", class: "flip"}
              %span{class: "icon left-sign"}
      
:javascript
  var options = {
    file: "world.json",
    globe: true,
    projection: d3.geo.orthographic()
                  .scale($("#map").width() / 4.5)
                  .translate([$("#map").width() / 3.3, $("#map").height() / 2])
                  .clipAngle(90),
    scale: ($("#map").width() / 4.5),
    drag: true,
    transition: function() {
      var p = d3.geo.centroid(unit);

      d3.transition()
        .duration(1500)
        .tween("rotate", function() {
          var r = d3.interpolate(projection.rotate(), [-p[0], -p[1]]);
          return function(t) {
            projection.rotate(r(t));
            changeButton("Skip");
            svg.selectAll("path").attr("d", path)
              .classed("active", function(d, i) { return d.id === unit.id; }); 
        };
      });
    }
  }

= javascript_include_tag "map.js"