// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// GENERAL //

body {
  background-image:url('stars.jpg');
  height: 100%;
  width: 100%;
}

text {
  font-family: "Overlock", cursive;
  font-size: 2em;
}

.title h1 {
  color: white;
}

.quiz-container {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

.center {
  text-align: center;
}

// PANE //

div#pane {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 20px 20px 20px 0;
  @include border-radius(7px);

  input {
    width: 50%;
    min-height: 35px;
    border-radius: 5px;
    padding: 0 5px;
  }

  color: black;
}

#pane .button {
  display: inline-block;
  margin: 20px auto;
  width: 100px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  @include border-radius(5px);
  cursor: pointer;

  &#next {
    display: none;
  }
}

// EARTH //

div#map {
  height: 100%;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

path#globe {
  fill: lightskyblue;
}

.land {
  fill: #808080;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.label {
  font-size: .5em;
}

.active {
  fill: red;
}

.correct {
  fill: #0C9b00;
}

.wrong {
  fill: #222;
}