!!!
%html
  %head
    %title GeoQuiz
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{type: "text/javascript", src: "https://d3js.org/d3.v3.min.js"}
    %script{type: "text/javascript", src: "https://d3js.org/topojson.v1.min.js"}
    %script{type: "text/javascript", src: "https://d3js.org/queue.v1.min.js"}
    = csrf_meta_tags
  %body
    = yield